<div class="card border-primary shadow-sm">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Lista de productos</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            @if(products && products.length > 0){
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th class="text-center">
                            <button class="btn btn-primary" style="width: 50%;" (click)="toggleImage()">
                                <i class="bi bi-eye" style="font-size: 1rem;"></i>
                                {{ showImage ? 'Ocultar imágenes' : 'Mostrar imágenes'}}
                            </button>
                        </th>
                        <th>Producto</th>
                        <th>Código</th>
                        <th>Disponible</th>
                        <th>Precio</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    @for (producto of products; track producto.productId){
                    <tr>
                            <td class="text-center">
                                @if (showImage) {
                                    <img [src]="producto.imageUrl | defaultImage" alt="{{ producto.productName }}" class="img-thumbnail"
                                        style="max-width: 200px;">
                                }
                            </td>
                            <td>{{ producto.productName | uppercase }}</td>
                            <td>{{ producto.productCode | lowercase }}</td>
                            <td>{{ producto.releaseDate | date }}</td>
                            <td>{{ producto.price | currency:'CLP':'symbol' }}</td>
                            <!-- <td>{{ producto.starRating }}</td> -->
                             <td>
                                <app-star [rating]="producto.starRating"></app-star>
                             </td>
                             <td>
                                <button class="btn btn-success" (click)="viewProduct(producto.productId)">
                                    <i class="bi bi-eye"></i> Ver
                                </button>
                                &nbsp;
                                <button class="btn btn-warning" (click)="editProduct(producto.productId)">
                                    <i class="bi bi-pencil"></i> Editar
                                </button>
                                &nbsp;
                                <button class="btn btn-danger" (click)="deleteProduct(producto.productId)">
                                    <i class="bi bi-trash"></i> Borrar
                                </button>
                             </td>
                    </tr>
                    }
                </tbody>
            </table>
            }@else{
            <div class="alert alert-info mb-0" role="alert">
                No se encontraron productos.
            </div>
            }
        </div>
    </div>
</div>