<nav class="navbar navbar-expand navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="acme_logo.png" width="200" alt="ACME Logo">
    </a>
    <span class="navbar-text h4 mb-0 text-white">
      {{ title() }}
    </span>
  </div>
</nav>

<div class="container-fluid">
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2"> Filtrar por: </div>
        <div class="col-md-2">
          <input type="text" [(ngModel)]="listFilter">
        </div>
        <div class="col-md-4">
          Filtrado por: {{listFilter()}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary" (click)="toggleChildren()">
            <i class="bi bi-eye"></i>
            {{ showChildren() ? "Ocultar" : "Mostrar" }} Hijo
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
  </div>
  @if(showChildren()){
  <app-product-list [datos]="filteredProducts()"></app-product-list>
  }
  <br>
  <div class="card card-body">
    @if (weatherData()){
    <h1 class="h4">
      Datos del clima para {{ weatherData().name }}
      @for (i of weatherData().weather; track $index){
      <img src="http://openweathermap.org/img/w/{{ i.icon }}.png" alt="{{ i.description }}" width="100px"
        height="100px">
      }
    </h1>
    <p>Ciudad: {{ weatherData().name }}</p>
    <p>Temperatura: {{ weatherData().main.temp }}°C</p>
    <p>Humedad: {{ weatherData().main.humidity }}%</p>
    }
  </div>
</div>